{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "macropod-deploy",
    "Key": "dockercfg"
  },
  "Image": {
    "Name": "macropod/gitr-client:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "80"
    }
  ],
  "Logging": "/var/log/nginx"
}
