$color-white: rgb(255, 255, 255);
$color-hastamayana: rgb(193,200,214);
$color-retail-monkey: rgb(100,108,124);
$color-sharp-suit: rgb(53,49,54);
$color-mine-shaft: rgb(32, 32, 32);


// more blues in the news
$color-kill-the-kindness: rgb(116,138,184);
$color-blue-light-special: rgb(32,70,151);