$color-white: rgb(255, 255, 255);
$color-hastamayana: rgb(193,200,214);
$color-retail-monkey: rgb(100,108,124);
$color-sharp-suit: rgb(53,49,54);
$color-mine-shaft: rgb(32, 32, 32);


// more blues in the news
$color-kill-the-kindness: rgb(116,138,184);
$color-blue-light-special: rgb(32,70,151);

// green with envy
$color-emerald: rgb(46, 204, 113);

// stop!
$color-alizarin: rgb(231, 76, 60);

// understandable colours
$color-grey-lightest: #eeedf2;
$color-grey-lighter: #a4a2b2;
$color-grey-light: #646c7c;
$color-grey-dark: #4e5766;
