@import "colors";
@import "variables";
@import "placeholders";

html, body, .App {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 300;
  color: $color-sharp-suit;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 22px;
  font-weight: 100;
}

.App {
  background: lighten($color-hastamayana, 15);
}

.App-content {
  padding: $app-base-padding;
}

header {
  background: $color-blue-light-special;
  color: $color-white;
  padding: $app-base-padding / 2;

  .App-nav {
    @extend %clearfix;

    a, a:visted {
      color: $color-white;
    }

    svg path {
      fill: $color-white;
    }

    .Icon svg {
      height: 1.3em;
    }

    h1 {
      width: 60%;
      float: left;
      margin: 0;
      text-align: center;
    }

    .App-nav-item {
      width: 20%;
      float: left;
    }

    .App-nav-item--message {
      a {
        float: right;
      }
    }
  }
}