@import "colors";
@import "variables";
@import "placeholders";

html, body, .App {
  height: 100%;
  overflow-x: hidden;
}
body {
  font-family: 'Source Sans Pro', 'RobotoDraft', sans-serif;
  margin: 0;
  font-weight: 300;
  color: $color-sharp-suit;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 22px;
  font-weight: 100;
}

a, a:visited {
  color: $color-sharp-suit;
}

.App {
  background: lighten($color-hastamayana, 15);
}

.App-content {
  height: calc(100% - #{$app-header-height});
  overflow-y: auto;
  background-color: #646c7c;
  background-image: radial-gradient(ellipse at center, #646c7c 30%, #4e5766 100%);
}

header {
  background: $color-white;
  color: #a4a2b2;
  padding: $app-base-padding / 2;
  height: $app-header-height;

  .App-nav {
    @extend %clearfix;

    a, a:visted {
      color: $color-white;
    }

    svg path {
      fill: $color-white;
    }

    .Icon svg {
      height: 1.3em;
    }

    h1 {
      width: 60%;
      font-weight: 600;
      font-size: 18px;
      margin: 0;
      float: left;
      margin: 0;
      text-align: center;
    }

    .App-nav-item {
      width: 20%;
      float: left;
      min-height: 1px;
    }

    .App-nav-item--message {
      a {
        float: right;
      }
    }
  }
}