@import "colors";
@import "variables";
@import "placeholders";

html, body, .App {
  height: 100%;
  overflow-x: hidden;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  color: $color-sharp-suit;
}
input, button {
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 22px;
}

a, a:visited {
  color: $color-sharp-suit;
}

.App {
  background: lighten($color-hastamayana, 15);
}

.App-content {
  clear: both;
  height: calc(100% - #{$app-header-height});
  overflow-y: auto;
  background-color: $color-grey-light;
  background-image: url(../images/texture.png), radial-gradient(ellipse at center, $color-grey-light 30%, $color-grey-dark 100%);
  background-size: 75px, 100%;
}

header {
  position: relative;
  background: $color-white;
  color: $color-grey-lighter;
  padding: 0 $app-base-padding / 2;
  height: $app-header-height;
  box-shadow: 0 1px 3px rgba(#000, .2);
  z-index: 2;

  .App-nav {
    @extend %clearfix;

    a, .Icon-check, .Icon-close {
      color: $color-grey-lighter;
      display: inline-block;
      height: $app-header-height;
      width: $app-header-height;
      text-align: center;
      line-height: $app-header-height + 4px;
    }

    .Icon-check, .Icon-close {
      float: right;
      cursor: pointer;
      width: 30px;
      margin-left: 5px;
    }

    .Icon-check svg path {
      fill: rgb(46, 204, 113);
    }

    .Icon-close svg path {
      fill: rgb(231, 76, 60);
    }

    .Icon {
      height: $app-header-height;
      width: 19px;

      svg {
        height: 17px
      }
      path {
        fill: $color-grey-lighter;
      }
    }

    h1 {
      height: $app-header-height;
      line-height: $app-header-height - 4px;
      width: 40%;
      font-weight: 600;
      font-size: 18px;
      margin: 0;
      float: left;
      text-align: center;
      text-transform: lowercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .App-nav-item {
      width: 30%;
      float: left;
      min-height: 1px;
    }

    .App-nav-item--right {
      a {
        float: right;
      }
    }

    .App-nav-item--notification .Icon {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        right: -4px;
        top: -4px;
        background: $color-alizarin;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 2px solid $color-white;
      }
    }
  }
}