@import "colors";
@import "placeholders";
@import "variables";

.Detail {
  padding: $app-base-padding;
  margin: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(#000, .2);
  background: $color-white;
}