@import "colors";
@import "placeholders";
@import "variables";

$color-user-border: $color-grey-lightest;

.Matches {
  padding: $app-base-padding;
  margin: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(#000, .2);
  background: $color-white;

  .Matches-users {
    list-style: none;
    margin: 0;
    padding: 0;

    h2 {
      font-weight: 400;
      margin: 10px 0;
      font-size: 17px;
    }

    li {
      @extend %clearfix;
      border-bottom: 1px solid $color-user-border;

      &:last-child {
        border-bottom :0;
      }

      a {
        padding: ($app-base-padding / 2) 0;
        text-decoration: none;
        display: block;
        cursor: pointer;
      }

      img {
        float: left;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
      .Icon {
        float: right;
        padding: 12px 0;
        width: 16px;
        height: 16px;
      }
      path {
        fill: $color-grey-lighter;
      }
    }
  }
}