@import "colors";
@import "variables";

$color-onboarding-background: $color-sharp-suit;
$color-onboarding: $color-white;

body {
//asdf
}

.Onboarding {
  background: $color-onboarding-background;
  text-align: center;
  color: $color-onboarding;
  padding: $app-base-padding;
  height: 100%;
  position: relative;

  h3 {
    font-size: 20px;
    position: absolute;
    bottom: $app-base-padding;
    left: $app-base-padding;
    right: $app-base-padding;
    margin: 0;
    width: inherit;
    font-weight: inherit;
  }
}