@import "colors";
@import "variables";
@import "placeholders";

$color-work-background: $color-white;
$color-work-heading-border: $color-hastamayana;
$color-pagination-background: $color-hastamayana;

.Detail {
  padding: $app-base-padding;
  margin: 10px;

  #Detail-portfolio {
    .Detail-work {
      padding: 0 5px;

      .Detail-work-inside {
        border-radius: 3px;
        padding: $app-base-padding/2;
        background: $color-work-background;
        box-shadow: 0 1px 3px rgba(#000, .2);
      }

      h2 {
        margin: 0;
        font-weight: normal;
        border-bottom: 2px solid $color-work-heading-border;
        padding-bottom: 10px;
      }
    }

    .Detail-work-iconography {
      @extend %clearfix;
      padding: 10px 0;

      .Detail-work-icon {
        float: left;
        width: 50%;
        text-align: center;

        .Icon {
          margin-right: 5px;
          font-size: 13px;
        }
      }
    }
  }

  .Detail-portfolio-pagination {
    margin-top: 20px;
    text-align: center;

    .Detail-portfolio-pagination-page {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $color-pagination-background;
      display: inline-block;
      margin: 0 2px;
      opacity: 0.4;
    }

    .Detail-portfolio-pagination-page--active {
      opacity: 1;
    }
  }
}