@import "colors";
@import "variables";
@import "placeholders";

$color-work-background: $color-white;
$color-work-heading-border: $color-hastamayana;
$color-pagination-background: $color-hastamayana;

.Detail {
  padding: 0;
  margin: 0;
  height: 100%;

  .Detail-portfolio {
    height: 100%;

    & > div:first-child {
      height: 100%;
      & > div:first-child {
        height: 100%;
      }
    }

    .Detail-work {
      padding: 10px;
      height: 100%;

      .Detail-work-inside {
        border-radius: 3px;
        padding: $app-base-padding/2;
        background: $color-work-background;
        box-shadow: 0 1px 3px rgba(#000, .2);
        min-height: 80%;
      }

      h2 {
        margin: 0;
        font-weight: normal;
        border-bottom: 2px solid $color-work-heading-border;
        padding-bottom: 10px;
      }
    }

    .Detail-work-iconography {
      @extend %clearfix;
      padding: 10px 0;

      .Detail-work-icon {
        float: left;
        width: 33.33%;
        text-align: center;

        .Icon {
          margin-right: 5px;
          font-size: 13px;
          width: 13px;
          height: 16px;
        }
      }
    }
  }

  .Detail-portfolio-pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin-top: 20px;
    text-align: center;

    .Detail-portfolio-pagination-page {
      cursor: pointer;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $color-pagination-background;
      display: inline-block;
      margin: 0 2px;
      opacity: 0.4;
    }

    .Detail-portfolio-pagination-page--active {
      opacity: 1;
    }
  }
}