@import "colors";
@import "variables";
@import "placeholders";

$color-control-border: rgba($color-hastamayana, 0.5);
$color-control-background: $color-white;
$color-yes: $color-emerald;
$color-no: $color-alizarin;

.Swipe {
  height: 100%;
  background-size: 100%;

  .Swipe-cards {
    margin: 0;
    padding: $app-base-padding $app-base-padding ($app-base-padding * 2);
    position: relative;
    height: 100%;
    overflow: hidden;
    @extend %clearfix;

    .Swipe-card, .Swipe-card-next, .Swipe-card-more {
      background: $color-white;
      box-shadow: 0 1px 3px rgba(#000, .2);
      border-radius: 2px;
    }

    .Swipe-card, .Swipe-card-next, .Swipe-card-more {
      padding: $app-base-padding;
      position: absolute;
      top: $app-base-padding;
      left: $app-base-padding;
      right: $app-base-padding;
      height: calc(100% - 110px);

      .Swipe-card-head {
        background: $color-grey-lightest;
        text-align: center;
        margin: -25px -25px 0;
        border-radius: 2px 2px 0 0;
      }

      h3 {
        font-size: 21px;
        margin: 0;
        font-weight: 600;
        color: $color-grey-dark;
      }

      h4 {
        font-size: 14px;
        margin: 0;
        font-weight: normal;
        color: $color-grey-lighter;
      }

      .Swipe-card-name {
        padding: 10px 0;
      }

      .Swipe-card-image {
        width: 50px;
        height: 50px;
        margin: 10px auto -35px;
        background-size: cover;
        border-radius: 50%;
      }

      .Swipe-card-details {
        float: left;
        width: 100%;
        padding-top: 30px;
        text-align: center;
        color: $color-grey-dark;
        font-size: 14px;
        strong {
          font-weight: 400;
        }
      }
      .Swipe-card-details-splitter {
        display: inline-block;
        color: $color-grey-lighter;
        margin: 0 5px;
      }
      .Swipe-card-details-stats {
        list-style: none;
        margin: 20px -20px 0;
        padding: 0;
        text-align: justified;
        &:after {
          content: "";
          display: inline-block;
          height: 1px;
          width: 100%;
        }
        li {
          display: inline-block;
          width: 30%;
        }
        strong {
          font-size: 1.5em;
          font-weight: 600;
          display: block;
        }
      }
    }

    .Swipe-card {
      z-index: 3;
      @extend %clearfix;
      overflow: hidden;

      .Swipe-status {
        svg {
          background: $color-control-background;
          border-radius: 50%;
        }

        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 40px;
        z-index: 2;
        opacity: 0;

        .Icon {
          width: 40px;
          height: 40px;
        }
      }

      .Swipe-status--no {
        border-color: $color-no;
        left: auto;
        right: 20px;
      }

      .Swipe-status--yes {
        border-color: $color-yes;
      }
    }

    .Swipe-card-next {
      z-index: 2;
      position: absolute;
      top: $app-base-padding + 2px;
      left: $app-base-padding + 2px;
      right: $app-base-padding + 2px;
      background-color: mix($color-white, $color-grey-light, 80);
    }

    .Swipe-card-more {
      z-index: 1;
      position: absolute;
      top: $app-base-padding + 4px;
      left: $app-base-padding + 4px;
      right: $app-base-padding + 4px;
      background-color: mix($color-white, $color-grey-light, 60);
    }
  }

  .Swipe-controls {
    text-align: center;
    margin-top: -65px;
    clear: both;

    svg {
      background: $color-control-background;
      border-radius: 50%;
    }

    .Swipe-control {
      text-align: center;
      font-size: 45px;
      border-radius: 50%;
      display: inline-block;
      margin: 0 20px;
      vertical-align: middle;
      width: 45px;
      height: 45px;
    }

    .Swipe-control--info i {
      font-size: 30px;
      width: 30px;
      height: 30px;
    }

    .Swipe-control--yes {
      fill: $color-yes;
    }

    .Swipe-control--no {
      fill: $color-no;
    }
  }
}