@import "colors";
@import "variables";
@import "placeholders";

$color-control-border: rgba($color-hastamayana, 0.5);
$color-control-background: $color-white;
$color-yes: $color-emerald;
$color-no: $color-alizarin;

.Swipe {
  height: 100%;
  padding: $app-base-padding;
  background-size: 100%;

  .Swipe-cards {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    height: calc((100% - #{$app-header-height}) - 70px);

    .Swipe-card, .Swipe-card-next, .Swipe-card-next:before {
      background: $color-white;
      box-shadow: 0 1px 3px rgba(#000, .2);
      border-radius: 2px;
    }

    .Swipe-card, .Swipe-card-next {
      padding: 5px;
      position: relative;
      height: 100%;

      h4 {
        margin: 0 auto;
        font-weight: normal;
        float: left;
      }

      .Swipe-card-details {
        padding: ($app-base-padding/2) 0px;
        @extend %clearfix;

        .Swipe-card-details-icons {
          float: right;
        }
      }

      .Swipe-card-image {
        max-width: 100%;
        background-size: cover;
        border-radius: 1px;
        height: calc(100% - 46px);
      }
    }

    .Swipe-card {
      z-index: 1;

      .Swipe-status {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 35px;
        height: 35px;
        font-size: 22px;
        background: $color-control-background;
        border: 5px solid $color-control-border;
        z-index: 2;
        text-align: center;
        border-radius: 50%;
        opacity: 0;
      }

      .Swipe-status--no {
        border-color: $color-no;
        left: auto;
        right: 20px;
      }

      .Swipe-status--yes {
        border-color: $color-yes;
      }
    }

    .Swipe-card-next {
      width: 98%;
      position: absolute;
      top: 10px;
      left: 1%;
      background-color: transparentize($color-white, .3);

      &:before {
        content: '';
        background: $color-white;
        border-top: none;
        position: absolute;
        width: 96%;
        left: 2%;
        height: 10px;
        bottom: -10px;
        border-radius: 0 0 2px 2px;
        background-color: transparentize($color-white, .5);
      }
    }
  }

  .Swipe-controls {
    text-align: center;
    margin-top: 50px;

    .Swipe-control {
      width: 70px;
      height: 70px;
      text-align: center;
      font-size: 30px;
      border: 10px solid $color-control-border;
      background: $color-control-background;
      border-radius: 50%;
      display: inline-block;
      margin: 0 10px;
      vertical-align: middle;
    }

    .Swipe-control--info {
      font-size: 20px;
      width: 50px;
      height: 50px;
    }

    .Swipe-control--yes {
      color: $color-yes;
    }

    .Swipe-control--no {
      color: $color-no;
    }
  }
}